--- 
title: "Welcome to the KDE/FreeBSD initiative"
layout: page
---

{% if paginator.page == 1 %}
<img class="img-fluid ml-auto mr-auto" src="/assets/img/konqi_beastie.png" alt="Konqi and Beastie" />

<p>
  This is the website for using, installing and building KDE&reg; software on the FreeBSD&reg; operating system.
  You can find documentation for applications that behave differently on FreeBSD than on Linux&reg;.
  The installation and compilation instructions are specialized for FreeBSD administrators.
  In 2018, most of the content of this site migrated to
  <a href="https://community.kde.org/FreeBSD">the KDE community wiki</a>.
  This site continues to operate as a news page and to point the way
  into the community site.
</p>

<p>
  The <a href="https://www.kde.org">KDE</a>&reg; community is an international technology team 
  dedicated to creating a free and user-friendly computing experience, 
  offering an advanced graphical desktop, a wide variety of applications for communication, 
  work, education and entertainment and frameworks for building new applications.
</p>

<p>
  <a href="https://www.FreeBSD.org">FreeBSD</a>&reg; is an advanced operating system for modern server, 
  desktop, and embedded computer platforms. FreeBSD's code base has undergone over thirty years 
  of continuous development, improvement, and optimization. It is derived from BSD, 
  the version of UNIX&reg; developed at the University of California, Berkeley.
</p>

<p>
  The <a href="/people.html">KDE/FreeBSD team</a> hopes this site will be a
  valuable resource for all who are interested in maintaining the high level
  of compatibility between FreeBSD and KDE Software (KDE Frameworks 5,
  KDE Plasma and Applications and Extragear) that has been seen to date.
  The goal is to facilitate the discussion of patches, finding bugs,
  suggesting features and hopefully becoming a valuable member of both
  the KDE and FreeBSD communities.
</p>

<h2>Getting a Plasma 5 Session</h2>

<p>
  A full KDE Plasma 5 Session, with KDE Frameworks underneath,
  Plasma Desktop, and KDE Applications, can be had with
  the <code>x11/kde5</code> metaport.
  For details, <a href="https://community.kde.org/FreeBSD/Setup/Ports">see the KDE-FreeBSD community wiki<a/>.
</p>


<h2>Getting a KDE4 Session</h2>

<div class="alert alert-warning" role="alert">
  <strong>Note:</strong> that KDE4 ports have been <strong>deprecated</strong>
  by the KDE-FreeBSD team and will be removed at the end of 2018.
</div>

<p>
  A legacy KDE4 Session, with kdelibs4 underneath,
  legacy Plasma, and KDE Applications, can be had with
  the <code>x11/kde4</code> metaport.
</p>

{% endif %}

{% include blog.html %}
